<style>
<!-- #TOC { -->
<!--   background: url("logo.jpg"); -->
<!--   background-size: contain; -->
<!--   padding-top: 80px !important; -->
<!--   background-repeat: no-repeat; -->
<!-- } -->



body {
  background-image: url('logo.jpg');
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: left top;
  background-attachment: fixed;
  padding-top: 10px !important;
  left: 100;

}

box-orange {
  position: absolute;
  background: orange;
  width: 100px;
  height: 100px;
}

h1, h2, h3, h4 {
color: #36C;
font-weight: normal;
letter-spacing: .4em;
margin-bottom: 1em;
text-transform: lowercase;
}

</style>